.hamburger {
  display: block;
  margin: 0 auto;
  background:
    linear-gradient(currentColor, currentColor) 0 0 / 100% 2px no-repeat,
    linear-gradient(currentColor, currentColor) 0 50% / 100% 2px no-repeat,
    linear-gradient(currentColor, currentColor) 0 100% / 100% 2px no-repeat;
  opacity: 0.9;
}

.hamburgerSm {
  width: 14px;
  height: 9px;
}

.hamburgerMd {
  width: 18px;
  height: 12px;
}

.hamburgerLg {
  width: 22px;
  height: 14px;
}
